@font-face {
    font-family: Raleway;
    src: url(https://fonts.google.com/specimen/Raleway);
    font-weight: bolder;
}
@font-face {
    font-family: Open_Sans;
    src: url(https://fonts.google.com/specimen/Open+Sans);
}

*, body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-color: hsl(218, 28%, 15%);
    font-size: 14px;
    
}



#main_container .nav_bar{
    display :flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    justify-content:space-between;
}

#main_container .nav_bar .logo1{
    width: fit-content;
    margin-left: 100px;

}
#main_container .nav_bar .logo1 img{
    width : 75%;
}
.nav_bar_links ul {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    
}

.nav_bar_links ul li {
    list-style: none;
    padding: 10px;
    font-family: Raleway;
  
}
.nav_bar_links ul li a{
    text-decoration: none;
    color: white;
    opacity: .7;
}
.nav_bar_links ul li a:hover{
    font-weight: bolder;
    text-decoration: underline;
    opacity: 1;
}

.first_content{
   text-align: center;
}

.first_content .first_image img{
    width: 30%;
    padding-top: 30px;
}
.get_started {
    color: white;

}
.get_started h2{
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
    line-height: 35px;
    font-family: Raleway;
}
.get_started p{
    text-align: center;
    padding-top: 15px;
    font-family: Open_sans;
}
input.button1{
    color: white;
    padding: 20px 70px 20px 70px;
    border-radius: 60px;
    margin-top: 20px;
    border: none;
    background-color: hsl(176, 68%, 64%);
    font-family: Raleway;
    font-weight: 700;
}

/* the second section */
.curvy{
    position: static;
    margin-top: -300px;
    z-index: -2;
    height: 100vh;
    width: 100%;
    background: url("flyo designs/images/bg-curvy-desktop.svg");
    
    background-position: center;
    background-repeat: no-repeat;
}

.icons_container{
    margin-top: -20em;
    padding-bottom: 80px;
    background-color: hsl(218, 28%, 13%);
}

.icons_container .no1_contain, .no2_contain{
    background-color: hsl(218, 28%, 13%);
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    justify-content: space-evenly;
    align-items: center;
    
}
.my_task{
    text-align: center;
   color: white;
    width: fit-content;
    background-color: hsl(218, 28%, 13%);


}
.my_task img{
    background-color: hsl(218, 28%, 13%);

}
.my_task h2{
        font-size: 16px;
        text-align: center;
        padding-top: 10px;
        line-height: 35px;
        font-weight: 700;
        font-family: Raleway;
    background-color: hsl(218, 28%, 13%);

        
}
.my_task p{
  text-align: center;
  padding-top: 5px;
  font-size: 14px;
  font-family: Open_sans;
  background-color: hsl(218, 28%, 13%);

  
}



/* creating the third section */
.my_crack{
   display: flex; 
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   padding-bottom: 90px;
   background-color: hsl(218, 28%, 13%);

}

.my_crack img{
    width: 450px;
    background-color: hsl(218, 28%, 13%);


}    
.my_crack_div1{
    width: 450px;
    background-color: hsl(218, 28%, 13%);

}

/* giving the text font size */
.my_crack_h11{
    color: white;
    font-size: 40px;
    padding-bottom: 20px;
    font-family: sans-serif;
    background-color: hsl(218, 28%, 13%);

}
.my_crack_p1{
    color:white;
    background-color: hsl(218, 28%, 13%);

}
.my_crack_p2, a{
    color: white;
    background-color: hsl(218, 28%, 13%);
    display: flex;
    align-items: center;
    
    
}
.my_crack_p2{
    text-decoration: none;
   
    
}


/* This is the fourth section */

@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');



.wrapper{
    margin-top: 5em;
    background-color: hsl(218, 28%, 13%);
 
}



.team{
  display: flex;
  justify-content:center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  

  
}
.logo{
 
    position: static;
    margin-left: 180px;
    margin-bottom: -95px;
    width: 70px;

}
.team .team_member{
  background-color: hsl(219, 30%, 18%);
  margin: 5px;
  margin-bottom: 50px;
  width: 320px;
  padding: 20px;
  line-height: 20px;
  color: #ececec;  
  position: relative;
    box-shadow: 0px 0px 500px 0px rgba(0,0,0,0.75);
}


.team .team_member .team_img2{
    padding-top: 5px;
    margin-right: 50%;
    width: 50px;
    height: 50px;
    background-color: hsl(219, 30%, 18%);
  }
  
  .team .team_member .team_img2 img{
    width: 100%;
    height: 100%;
    float: left;
    padding: 5px;
    border-radius: 50%;
    background-color: hsl(219, 30%, 18%);
  }
  .team .team_member .content{
    margin-left: 60px;
    float: left;
    position: absolute;
    
  }
  .team .team_member .content p{
    font-size: 10px;
    margin: 0px;
    background-color: hsl(219, 30%, 18%);
    
  }

  .team .team_member .content p:nth-child(1){
   
        font-size: 16px;
        font-weight: 700;
        margin-left: 0;
        
  }
  .team .team_member .content p:nth-child(2){
      
      margin-top: -24px;
  }

  .wrapper .team .team_member p{
    background-color: hsl(219, 30%, 18%);
    text-align: justify;
    padding-bottom: 20px;
  }

  .intro-email{
    max-width:90%;
    margin:0 auto;
    background-color:hsl(217, 28%, 15%);
    position:relative;
    top:200px;
    padding-top:40px;
    padding-right:30px;
    padding-left:30px;
    padding-bottom:40px;
    border-radius:5px;
}




@media screen and (min-width:1200px){
    .intro-email{
        max-width:60%;
    
        }
    }
    .intro-email h5{
        font-size:16px;
        color:hsl(0, 0%, 100%);
        font-weight:700;
        background-color:hsl(217, 28%, 15%);
        text-align:center;
    
    }
    .intro-email p{
        font-size:14px;
        color:hsl(0, 0%, 100%);
        opacity:0.8;
        line-height:1.5;
        background-color:hsl(217, 28%, 15%);
        margin:20px 0 20px 0;
        text-align:center;
    }
    input[type=email]{
       padding:15px;
       width:100%;
       background-color: white;
       border-radius:50px;
       outline:none;
       border:none;
    }
    @media screen and (min-width:1200px){
        input[type=email]{width:60%;}
    }
    .sign-btn{
        font-size:12px;
        cursor:pointer;
       
    }
    



  @media only screen and (max-width: 600px) {
      
    *{
        margin: 0;
        padding: 0;
        background-size: cover;
    }

    #main_container .nav_bar{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    #main_container .nav_bar .logo1{
        margin-left: 25px;
    }

    .nav_bar_links ul{
        margin-right: 20px;
    }

    .icons_container{
        margin-top: -14em;
        
    }

    .icons_container .no2_contain{
        margin-top: 3em;
    }

    .icons_container .no1_contain .my_task:nth-child(2){
        margin-top: 3em;
    }
    .icons_container .no2_contain .my_task:nth-child(2){
        margin-top: 3em;
    }

    .my_crack{
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    .my_crack_div1{
        padding: 0;
        margin: 0;
    }
    .my_crack_h11{
        font-size: 20px;
    
    }
    .logo{
        margin-left: 100px ;
        margin-bottom: -95px;
        width: 50px;
    }








  }

